{% extends 'base.html' %}

{% block title %}Subtask Generator (Report){% endblock %}

{% block content %}
	{# {% if data.build_issues_not_in_deployment_issue %} #}
	{% if True %}
		<div class="alert alert-success" role="alert">
			Process completed!
		</div>
		<div class="col-md-4 ml-auto mr-auto">
			<ul class="list-group">
				<li class="list-group-item">CM-11515 {{data.CHAR_CROSS_BOLD}}</li>
				<li class="list-group-item">CM-11515 {{data.CHAR_CHECK_BOLD}}</li>
				<li class="list-group-item">CM-11515 {{data.CHAR_CROSS}}</li>
				<li class="list-group-item">CM-11515 {{data.CHAR_CHECK}}</li>
			</ul>
		</div>
	{% else %}
		<div class="alert alert-info" role="alert">
			Nothing was created!
		</div>
	{% endif %}

			{# # return r'''
		# <html>
		# 	<head>
		# 		<title>SubTaskAutoGen Report</title>
		# 	</head>
		# 	<body style="background-color: black;
		# 				color: white">
		# 		<div>Issues with pending DBA or Code Review: {}</div>
		# 		<div>Issues in build list but no in deployment issue: {}</div>
		# 		<div>Missing Sub-tasks: {}</div>
		# 		<pre>Sub-tasks created: {}</pre>
		# 	</body>
		# </html>'''.format(
		# 	len(self.issues_with_pending_dba_or_code_review),
		# 	len(self.build_issues_not_in_deployment_issue),
		# 	len(self.build_issues_without_subtask),
		# 	len(self._report)) #}

{% endblock %}